<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <title>대시보드</title>
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" rel="stylesheet">
    <link crossorigin="anonymous" href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet">
</head>

<body>
<div class="container">
    <h3 class="form-signin-heading text-center mb-5">nahwasa.com</h3>

    <h3 class="overview-normalize">접속 아이디</h3>

    <p id='login_id'>
    </p>
    <hr/>

    <h3 class="overview-normalize">역할</h3>
    <p id='pw'>
    </p>
    <hr/>

    <h3 class="overview-normalize">역할에 따른 페이지 이동 권한 확인</h3>
    <p>
        <button class="btn btn-sm btn-success" onclick="location.href='/view/setting/admin'">관리자 설정 페이지(관리자만)</button>
        <button class="btn btn-sm btn-info" onclick="location.href='/view/setting/user'">유저 설정 페이지(유저만)</button>
    </p>
    <hr/>
    <form action="/logout" method="post">
        <button class="btn btn-sm btn-danger btn-block" id="logout_btn" type="submit">로그아웃</button>
    </form>

    <script>
        const loginId = document.getElementById('login_id');
        loginId.innerHTML = sessionStorage.getItem('userid');

        const logoutBtn = document.getElementById('logout_btn');
        logoutBtn.addEventListener('click', () => {
            sessionStorage.setItem('userid', '');
        });
    </script>
</div>
</body>
</html>