<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <title>로그인</title>
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" rel="stylesheet">
    <link crossorigin="anonymous" href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <form action="/login-process" class="form-signin" method="post">
        <p class="text-center">
            <img alt="이 글이 보인다면 시큐리티 설정 잘못한거임!" class="img-thumbnail" src="/images/profile.png" style="width: 200px;">
        </p>
        <h2 class="form-signin-heading text-center mb-5">f1v3.com</h2>

        <p>
            <label class="sr-only" for="username">아이디</label>
            <input autofocus="" class="form-control" id="username" name="userId" placeholder="아이디" required=""
                   type="text">
        </p>
        <p>
            <label class="sr-only" for="password">비밀번호</label>
            <input class="form-control" id="password" name="pw" placeholder="비밀번호" required="" type="password">
        </p>
        <button class="btn btn-lg btn-primary btn-block" id="login_btn" type="submit">로그인</button>
    </form>

    <form action="/view/join" class="form-signin" method="get">
        <button class="btn btn-lg btn-warning btn-block" type="submit">회원가입하기</button>
    </form>
</div>
</body>
</html>